* {
    box-sizing: border-box;
}

body {

    margin: 0;
    padding: 0;

}

h2, h3 {
    color: #00a2cb;
}

footer {
    padding: 20px;
    color: white;
    background-color: #00a2cb;
    text-align: center;
    font-weight: bold;
}


nav a {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;

    color: white;
}

nav a:hover {
    font-weight: bold;
}


.profile header {
    text-align: center;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.profile img {
    width: 200px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px;

    padding: 20px;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #00c8eb;
    text-align: center;
    color: white;
}

nav ul {
    padding-inline: 4rem;
    display: flex;

    gap: 2rem;
}

nav li {
    list-style: none;
}

nav {
    background-color: #00a2cb;
    padding: 5px;

    position: sticky;
    top: 0;
}

main {
    padding: 20px;

    display: flex;
    gap: 1.5rem;
}

#content {
    flex: 5;

    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

aside {
    flex: 1;
}

header {
    display: inline;
}

/* Perangkat dengan lebar layar 1200px dan di bawahnya */
@media screen and (max-width: 1200px) {
    main {
        flex-flow: column nowrap;
    }

    main aside {
        align-self: center;
    }

}
